#background{
	background: url(y.jpg);
    background-attachment:fixed;
    background-size: 100% 100%;
}

#shapa {
    border: 1px solid black;
    background: rgba(255, 105, 180, 0.9);
    text-align: center;
    font: normal small-caps 52px/54px fantasy;
    vertical-align: middle;
    height: 32mm;
    line-height: 100px;
    max-height: 200px;
}

#shapap {
    border: 1px solid black;
    background: rgba(219, 112, 147, 0.9);
    text-align: center;
    font: normal small-caps 20px/20px fantasy;
    vertical-align: middle;
    height: 32mm;
    line-height: 100px;
    max-height: 200px;
}

nav {
    background: rgba(219, 112, 147, 0.7);
}

* {
margin:0;
padding:0;
outline:none
}

#adress {
    border: 1px solid black;
    background: rgba(175, 238, 238, 0.9);
    text-align: left;
    font: bold italic 110% serif;
    color: #000000;
}
#adres {
    border: 1px solid black;
    background: rgba(175, 238, 238, 0.9);
    text-align: left;
    font: bold italic 110% serif;
    color: #000000;
}
#Description {
    background: rgba(123, 104, 238, 0.7);
    color: #000000;
}
#reviews {
    background: rgba(123, 104, 238, 0.7);
    color: #000000;
}
#foot {
    background: rgba(30, 144, 255, 0.7);
    color: #000000;
}
#footÑ {
    background: rgba(30, 144, 255, 0.7);
    color: #000000;
}
